body{
    display: flex;
    justify-content: center;
    background-image: url();
    background-size: cover;
}

.content{
    width: 80%;
    height: 100%;
    margin-top: 20px;
}

.block{
    width: 100%;
    height: 500px;
    border-radius: 50px;
    background-color: aliceblue;
    box-shadow: 0px 0px 25px gray;
}

.colors{
    width: 100%;
    height: 20%;
    text-align: center;
    margin-top: 20px;
}

.colors button{
    width: 25%;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    margin: 5px 10px;
    border: none;
    box-shadow: 0px 0px 25px gray;
}

.btn1{
    background-color: red;
    color: white;
}

.btn2{
    background-color:green ;
    color: white;
}

.btn3{
    background-color:blue ;
    color: white;
}

.btn4{
    background-color:yellow ;
    color: rgb(0, 0, 0);
}

.btn5{
    background-color:orange ;
    color: white;
}

.btn6{
    background-color:skyblue ;
    color: white;
}

.btn7{
    background-color:black ;
    color: white;
}

.btn8{
    background-color:brown ;
    color: white;
}

.btn9{
    background-color:darkgray ;
    color: white;
}

.btn10{
    background-color:purple ;
    color: white;
}

.btn11{
    background-color:darkgreen ;
    color: white;
}

.btn12{
    background-color:darkred ;
    color: white;
}

.btn13{
    background-color: white;
    color: white;
}